* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f4f4fc;
}

.max-container {
  min-width: 100dvw;
  max-height: 100dvh;
}
.main {
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

.navbar {
  padding: 1.3rem;
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  min-height: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  height: 80%;
  padding: 1rem;
}

.text-container {
  min-height: 65%;
  background-color: #f4f4fc;
  padding-top: 1rem;
  padding-left: 6rem;
}

.text {
  border: none;
  cursor: pointer;
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box; /* Incluye padding y border en el cálculo del tamaño */
  position: relative; /* Añade posición relativa para que el textarea se ajuste a su contenedor */
}

.text textarea {
  width: calc(100% - 2px); /* Resta 2px para compensar el borde */
  min-height: calc(100% - 2px); /* Resta 2px para compensar el borde */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #0a3871;
  resize: none;
  overflow: auto;
  box-sizing: border-box; /* Incluye padding y border en el cálculo del tamaño */
  position: absolute; /* Aprovecha la posición absoluta para ajustar el tamaño del textarea */
  top: 0;
  left: 0;
}

.text textarea::placeholder {
  color: #0a3871;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.btn-encriptar {
  width: 45%;
  height: 3rem;
  border-radius: 0.9rem;
  background-color: #0a3871;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: none;
  margin: 0.5;
  cursor: pointer;
}

.btn-desencriptar {
  width: 45%;
  height: 3rem;
  border-radius: 0.9rem;
  background-color: #d8dfe8;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: 1px solid #0a3871;
  cursor: pointer;
}
.alerta {
  display: flex;
  justify-content: left;
  color: #495057;
  align-items: center;
  padding: 1rem;
}
.alerta p {
  margin-left: 0.8rem;
}

.container-card {
  position: relative;
  min-width: 55%;
  min-height: 100%;
}

.card {
  position: relative;
  min-width: 80%;
  min-height: 100%;
  top: -15%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.9rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

.info-text {
  text-align: center;
}

.info-text h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #343a40;
}

.info-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}
.toy-container {
  box-sizing: border-box;
  padding-top: 4rem;
  max-width: 100%;
}

.toy-container img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.result-container {
  bottom: 330px;
  width: 320px;
  height: 450px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 25px;
}
.result-container p {
  color: #495057;
  font-size: 25px;
}

.info-text {
  box-sizing: border-box;
}
.copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-copy {
  width: 85%;
  height: 3rem;
  background-color: #ffffff;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: 1px solid #0a3871;
  border-radius: 0.9rem;
  cursor: pointer;
}

.ocultar {
  display: none;
}
